<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer Template</title>
</head>
<body>
<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
  <div class="container">
      <h2></h2>
    <h1>Learn with Mushfique</h1>
      <h2 th:text="${title}"></h2>
      <h2 th:text="${subtitle}"></h2>
    <h2>Provide good content with deep knowledge</h2>
    <p>Yes it is lorem but in my intellij idea lorem is not Working</p>
      <p>lorem50 jtrnjgnj45 f  e jtnijme mnrjn  mtj  ntjt   gnj4</p>

  </div>
</footer>
</body>
</html>